TMDB_API_KEY=your_tmdb_api_key_here
TMDB_BASE_URL=https://api.themoviedb.org/3
KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_TOPIC=movie_pipeline
KAFKA_GROUP_ID=movie-project-consumer
KAFKA_IDLE_TIMEOUT=10
NEW_MOVIE_COUNT=10
